@import "minima";

/* Table of Contents */
.table-of-contents {
  border: 1px solid #eee;
  padding: 1em;
  margin-bottom: 1.5em;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.table-of-contents h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #333;
}

.table-of-contents ul {
  list-style: none;
  padding-left: 0;
}

.table-of-contents ul ul {
  padding-left: 1.5em;
}

.table-of-contents li a {
  text-decoration: none;
  color: #007bff;
}

.table-of-contents li a:hover {
  text-decoration: underline;
}
